#about .container {
    padding-top: 5vw;
}

#about h1{
    color: rgb(0, 119, 255);
}
/*SKILlS*/
.main{
background-color: rgb(231, 231, 231);
padding: 2vw;
border-radius: 10px;
}
.main h3{
color: grey;
font-size: 1vw;
padding-top: .5vw;
}
.contorno{
    margin-right: 2vw;
}
@media screen and (max-width: 760px){
    #about .container {
        padding-top: 15vw;
    }
}