#about * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  min-height: 5vh;
  background: #ffffff;
}
#about h5 {
  padding-left: 20vw;
  color: grey;
}
#about .row {
  display: flex;
  padding-left: 20vw;
  padding-right: 20vw;
  flex-wrap: wrap;
}
#about ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
#about ul li {
  position: relative;
  list-style: none;
}
#about ul li a {
  position: relative;
  list-style: none;
  font-size: 4em;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(119, 119, 119, 0.781);
}
#about ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 8px solid var(--clr);
}
#about ul li a:hover::before {
  width: 100%;
  -webkit-text-stroke: 1px var(--clr);
}
#about img {
  height: 40vw;
  width: 30vw;
}
