h1 {
  color: #fff;
  font-size: 100px;
}
h2 {
  color: #26beef;
  font-size: 70px;
  padding-bottom: 20px;
}
h3 {
  color: #ffffff;
  font-size: 40px;
  padding-bottom: 20px;
}
p {
  color: #2f302f;
}
@media (max-width: 720px) {
  h1 {
    color: #fff;
    font-size: 4vw;
  }
  h3 {
    color: #ffffff;
    font-size: 4vw;
    padding-bottom: 20px;
  }
}
