//::::::::::::: VARIABLES ::::::::::::::::::::://
@color-h1-title-light: #fff;
@color-h2-title-aboutme: #26beef;
@color-h3-light: hsl(0, 0%, 100%);
@color-text-general-info: #2f302f;

//::::::::::::: VARIABLES ::::::::::::::::::::://
h1{
    color: @color-h1-title-light;
    font-size: 100px;
    
}
h2{
    color: @color-h2-title-aboutme;
    font-size: 70px;
    padding-bottom:20px
}
h3{
    color: @color-h3-light;
    font-size: 40px;
    padding-bottom: 20px;
}
h6{
    color: @color-text-general-info;
    body.dark &{
        color: rgb(255, 72, 0);
        transition: 2s;
    }
}
p{
    color: @color-text-general-info;
    body.dark &{
        color: white;
        transition: 2s;
    }
}
h5{
    body.dark &{
        color: white;
        transition: 2s;
    }
}
@media (max-width:720px) {
    h1{
        color: @color-h1-title-light;
        font-size: 4vw;
        
    }
    h3{
        color: @color-h3-light;
        font-size: 4vw;
        padding-bottom: 20px;
    }
}
