/*galeria*/
#galeria .container {
  padding-top: 5vw;
}
#galeria * {
  box-sizing: border-box;
}
#galeria .row {
  display: flex;
  padding-top: 5vw;
  padding-left: 20vw;
  padding-right: 20vw;
  flex-wrap: wrap;
}
#galeria .column {
  flex: 25%;
  padding: 1vw;
}
#galeria img {
  width: 100%;
}
#galeria h1 {
  align-items: left;
}
.column img {
  margin-top: 1vw;
}
@media (max-width: 660px) {
  #galeria .column {
    flex: 100%;
    padding: 1vw;
  }
  #section1 {
    height: 150vw;
  }
  #galeria .container {
    padding-top: 15vw;
  }
  #galeria .row {
    display: flex;
    padding-top: 5vw;
    flex-wrap: wrap;
  }
}
#galeria img:hover {
  box-shadow: 1vw 1vw 2vw rgba(0, 47, 255, 0.37);
  padding: 1vw;
}
