
.centrado{
    position: absolute;
    bottom: 0;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
   
}


.parrallax{
 width: 100%;
 height: 900px;
 background-size: cover;
 display: flex;
background-image: url("https://img.freepik.com/foto-gratis/programador-trabajo_1098-18094.jpg?w=740");
background-attachment: fixed;
transition: 1s;
body.dark &{
    background-image: url(https://www.yoh.com/hubfs/Thoughtful%20young%20programmer%20coding%20on%20computer%20in%20the%20evening%20at%20home.jpeg);
    background-attachment: fixed;
    transition: 1s;
}
}

/*button init*/

/*button init*/

@media screen and (max-width: 760px){
    .parrallax{
        width: 100%;
        height: 900px;
       background-image: url("https://ubiqum.com/assets/uploads/2019/09/annie-spratt-605838-unsplash-1-e1569511888945.jpg");
       background-attachment: fixed;
       }
    .centrado h1{
        font-size: 100px;
        color: rgb(255, 255, 255);
    }
}

.scrollarrow ion-icon{
    font-size:80px;
    color: navy;
    cursor: pointer;
    animation: bounce;
    animation-duration: 2s;
    --animate-repeat: 2;
}

.scrollarrow ion-icon:hover{
    font-size:80px;
    color: rgb(52, 52, 243);
    cursor: pointer;
}