.centrado {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centrado h1 {
  font-size: 100px;
  color: #003cff;
}
.parrallax {
  width: 100%;
  height: 700px;
  background-size: cover;
  display: flex;
  background-image: url("https://img.freepik.com/foto-gratis/trabajando-duro-festejar-fines-semana-captura-recortada-mujer-escribiendo-teclado-sentado-frente-al-monitor-computadora-freelancer-traduce-nuevo-proyecto-escribe-algunas-notas-bloc-notas_176420-8695.jpg?t=st=1650247489~exp=1650248089~hmac=46df0245d20f3ceb3a3a1aeb779f536d35378dc8a8dcb9feb61c0b6d6920e80b&w=740");
  background-attachment: fixed;
}
