.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centrado h1 {
  font-size: 100px;
  color: #003cff;
}
body.dark .centrado h1 {
  color: #ffffff;
}
.parrallax {
  width: 100%;
  height: 900px;
  background-size: cover;
  display: flex;
  background-image: url("https://img.freepik.com/foto-gratis/retrato-tipo-rizado-sonriente-que-sostiene-tarjeta-credito-telefono-inteligente-usando-aplicacion-hacer-compra-linea-pie-sobre-fondo-blanco_176420-47923.jpg?t=st=1650219868~exp=1650220468~hmac=6ad548dbb899ab13729cc83c02c819e66ed355b4866b5549824e67ccb448cfba&w=740");
  background-attachment: fixed;
  transition: 1s;
}
body.dark .parrallax {
  background-image: url(https://www.yoh.com/hubfs/Thoughtful%20young%20programmer%20coding%20on%20computer%20in%20the%20evening%20at%20home.jpeg);
  background-attachment: fixed;
  transition: 1s;
}
/*button init*/
/*button init*/
@media screen and (max-width: 760px) {
  .parrallax {
    width: 100%;
    height: 900px;
    background-image: url("https://ubiqum.com/assets/uploads/2019/09/annie-spratt-605838-unsplash-1-e1569511888945.jpg");
    background-attachment: fixed;
  }
  .centrado h1 {
    font-size: 100px;
    color: #ffffff;
  }
}
.scrollarrow ion-icon {
  font-size: 80px;
  color: navy;
  cursor: pointer;
  animation: bounce;
  animation-duration: 2s;
  --animate-repeat: 2;
}
.scrollarrow ion-icon:hover {
  font-size: 80px;
  color: #3434f3;
  cursor: pointer;
}
