* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container__all {
  position: relative;
  right: 150px;
  transition: all 300ms;
}
header {
  width: 100%;
  height: 100px;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transition: all 300ms;
}
.move_content {
  right: 180px;
}
.container__header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
#logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 150px;
  padding-top: 1vw;
}
.container__nav {
  position: relative;
  height: 100%;
}
nav {
  height: 100%;
}
nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  margin: 0px 20px;
  list-style: none;
}
nav ul li a {
  color: #373737;
  font-size: 14px;
  text-decoration: none;
}
.select {
  background: #359EF9;
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
}
.nav_mod {
  background-color: rgba(255, 255, 255, 0.856);
  height: 70px;
}
.nav_mod .logo img {
  width: 100px;
}
.btn__menu {
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background 300ms;
  display: none;
}
.btn__menu:hover {
  background: #f5f5f5;
}
@media screen and (max-width: 760px) {
  .container__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn__menu {
    display: flex;
  }
  nav {
    height: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    right: -210px;
    transition: all 300ms;
  }
  .move_nav {
    right: 0px;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin: 20px 0px;
    padding-right: 5vw;
  }
  .container__vector img {
    transform: scale(0);
    animation: none;
  }
}
.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centrado h1 {
  font-size: 100px;
  color: #003cff;
}
.parrallax {
  width: 100%;
  height: 900px;
  background-size: cover;
  display: flex;
  background-image: url("https://img.freepik.com/foto-gratis/retrato-tipo-rizado-sonriente-que-sostiene-tarjeta-credito-telefono-inteligente-usando-aplicacion-hacer-compra-linea-pie-sobre-fondo-blanco_176420-47923.jpg?t=st=1650219868~exp=1650220468~hmac=6ad548dbb899ab13729cc83c02c819e66ed355b4866b5549824e67ccb448cfba&w=740");
  background-attachment: fixed;
}
/*button init*/
/*button init*/
@media screen and (max-width: 760px) {
  .parrallax {
    width: 100%;
    height: 900px;
    background-image: url("https://ubiqum.com/assets/uploads/2019/09/annie-spratt-605838-unsplash-1-e1569511888945.jpg");
    background-attachment: fixed;
  }
  .centrado h1 {
    font-size: 100px;
    color: #ffffff;
  }
}
/*base code*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
/*the animation definition*/
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    -ms-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  justify-content: center;
}
.boton {
  background-color: #0077ff;
  padding: 1vw 0 1vw 0;
  width: 150px;
  border-radius: 10px;
  border: none;
  color: white;
}
.boton a {
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
}
.tada {
  animation: bounceInLeft;
  animation-duration: 2s;
}
/*galeria*/
#galeria .container {
  padding-top: 5vw;
}
#galeria * {
  box-sizing: border-box;
}
#galeria .row {
  display: flex;
  padding-top: 5vw;
  padding-left: 20vw;
  padding-right: 20vw;
  flex-wrap: wrap;
}
#galeria .column {
  flex: 25%;
  padding: 1vw;
}
#galeria img {
  width: 100%;
}
#galeria h1 {
  align-items: left;
}
.column img {
  margin-top: 1vw;
}
@media (max-width: 660px) {
  #galeria .column {
    flex: 100%;
    padding: 1vw;
  }
  #section1 {
    height: 150vw;
  }
  #galeria .container {
    padding-top: 15vw;
  }
  #galeria .row {
    display: flex;
    padding-top: 5vw;
    flex-wrap: wrap;
  }
}
#galeria img:hover {
  box-shadow: 1vw 1vw 2vw rgba(0, 47, 255, 0.37);
  padding: 1vw;
}
.espaciomin {
  padding: 3vw;
}
.espaciomax {
  padding: 5vw;
}
container {
  border-radius: 5px;
}
.main {
  background-color: #e7e7e7;
  padding: 2vw;
  border-radius: 10px;
}
.main h3 {
  color: grey;
  font-size: 20PX;
  padding-top: 0.5vw;
}
.skills {
  text-align: right;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 10px;
  color: white;
  border-radius: 2.5px;
  font-size: 10px;
}
.html {
  background-color: #003cff;
  animation: fillhtml 2s forwards;
}
.css {
  background-color: #003cff;
  animation: fillcss 2s forwards;
}
.bootstrap {
  background-color: #003cff;
  animation: fillbootstrap 2s forwards;
}
.java {
  background-color: #003cff;
  animation: filljava 2s forwards;
}
.javascript {
  background-color: #003cff;
  animation: filljavascript 2s forwards;
}
.mongodb {
  background-color: #003cff;
  animation: fillmongodb 2s forwards;
}
.sql {
  background-color: #003cff;
  animation: fillsql 2s forwards;
}
@keyframes fillhtml {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
@keyframes fillcss {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes filljava {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
@keyframes filljavascript {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@keyframes fillsql {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes fillmongodb {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
#about .container {
  padding-top: 5vw;
}
#about h1 {
  color: #0077ff;
}
.contorno {
  margin-right: 2vw;
}
@media screen and (max-width: 760px) {
  #about .container {
    padding-top: 15vw;
  }
}
#footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vw;
  padding-bottom: 4vw;
}
#footer .item {
  padding-right: 5vw;
}
