* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container__all {
  position: relative;
  right: 0;
  transition: all 300ms;
}
header {
  width: 100%;
  height: 100px;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transition: all 300ms;
}
.move_content {
  right: 180px;
}
.container__header {
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0px 20px;
}
#logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 150px;
}
.container__nav {
  position: relative;
  height: 100%;
}
nav {
  height: 100%;
}
nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  margin: 0px 20px;
  list-style: none;
}
nav ul li a {
  color: #373737;
  font-size: 14px;
  text-decoration: none;
}
.select {
  background: #359EF9;
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
}
.nav_mod {
  background-color: rgba(255, 255, 255, 0.685);
  height: 80px;
}
.btn__menu {
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background 300ms;
  display: none;
}
.btn__menu:hover {
  background: #f5f5f5;
}
@media screen and (max-width: 760px) {
  .container__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn__menu {
    display: flex;
  }
  nav {
    height: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    right: -210px;
    padding: 0.5 40px;
    transition: all 300ms;
  }
  .move_nav {
    right: 0px;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    margin: 20px 0px;
  }
  .container__vector img {
    transform: scale(0);
    animation: none;
  }
}
